body{
	background-image: linear-gradient(#fff3f3, #ffe0e0 40%, #fb9e9a);
	font-size: 17px;
	font-family: garamond;
	height: 1220px;
}
#container{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	height: 1200px;
}
h1{
	text-align: center;
	margin-bottom: 10px;
}
#cart{
	float: right;
	margin-top: -50px;
	margin-right: 10px;
}
h2{
	margin-left: 70px;
}
img{
	margin-left: 20px;
}
#location-box {
	background-color: #faf2e1;
	width: 800px;
	height: 250px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	margin-top: 30px;
}
table th{
	text-align: center;
}
table td{
	text-align: justify;
}
#left-side {
	float: left;
	width:  370;
	margin:  10px;
	text-align: left;
}

#right-side {
	float: right;
	width:  370;
	margin:  10px;
	text-align: left;
}
#option-1{
	position: absolute;
	left: 80px;
	top: 520px;
}
#list{
	text-align: left;
	width: 250px;
	position: absolute;
	left: 350px;
	top: 530px;
}
#list li{
	list-style-type: none;
	margin: 10px;
}
#list2{
	text-align: left;
	width: 250px;
	position: absolute;
	left: 900px;
	top: 530px;
}
#list2 li{
	list-style-type: none;
	margin: 10px;
}
#option-2{
	position: absolute;
	left: 650px;
	top: 520px;
}
#option-3{
	position: absolute;
	left: 80px;
	top: 840px;
}
#list3{
	text-align: left;
	width: 250px;
	position: absolute;
	left: 350px;
	top: 850px;
}
#list3 li{
	list-style-type: none;
	margin: 10px;
}
#option-4{
	position: absolute;
	left: 650px;
	top: 840px;
}
#list4{
	text-align: left;
	width: 250px;
	position: absolute;
	left: 900px;
	top: 850px;
}
#list4 li{
	list-style-type: none;
	margin: 10px;
}

/* green button */
button.addcart {
	color: white;
	padding: 9px;
	border-radius: 6px;
	font-size: 21px;
	font-family: garamond; /* should the font be arial or some kind of sans-serif to differentiate? */
	background-image: linear-gradient(#96A82C 0%, #789B2C 51%, #456F18 100%);
	box-shadow: rgba(0, 0, 0, 0.35) 7px 7px 4px 0px;
	display: inline-block;
	cursor: pointer;
}

button.addcart:hover {
background: #96A82C;
}

button.addcart:active {
background: #456F18;
}

/* -- beige button
button.addcart {
	color: white;
	padding: 9px;
	border-radius: 6px;
	font-size: 21px;
	font-family: garamond; 
	background-image: linear-gradient(#e8cda5 0%, #bda177 51%, #856c46 100%);
	box-shadow: rgba(0, 0, 0, 0.35) 7px 7px 4px 0px;
	display: inline-block;
	cursor: pointer;
}

button.addcart:hover {
background: #e8cda5;
}

button.addcart:active {
background: #856c46;
}
*/ 

footer{
	position: absolute;
	top: 1185px;
	width: 1080px;
	text-align: center;
	background-color: #fff3f3;
	padding: 10px;
	color: #707070;
}
